<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>文件上传</title>
</head>
<body>
    <h2>文件上传</h2>
    <hr>
    <!--                               enctype——文件上传的必需属性 -->
    <form action="/form" method="post" enctype="multipart/form-data">
        
        名字：<input type="text" name="name"><br>
        头像：<input type="file" name="avatar"><br>

        <button>提交</button>
    </form>
</body>
</html>